@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');



/*--------------------------\
|  General style following  |
\--------------------------*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif
}

.clearfix {
    clear: both;
}
.overflowfix {
    overflow: auto; /*makes it so content is not "flowing" outside its container*/
}
.standard-margin { /*It seems like there is about 10px margin between manyt of the header elements. leaving this here to see.*/
margin: 10px;
}

.col { /*Single column*/
    float: left;
    display: block;
}

.link-deco-fix {
    text-decoration: none;
}

/*----------------------------\
| Specific sections following |
\----------------------------*/

/*-----------NAVIGATION BLOCK-----------*/
.nav-bar { /*The whole nav-bar-element*/
    background-color: #C12127;
    color: rgba(255,255,255,0.8);
    padding: 10px 0; /*The all-important passing on the nav-bar dictates how tall it is without the content being "lost" if something goes wrong*/
    height: auto;
  }
.nav-bar a{ /*All links in nav-bar*/
    color: rgba(255,255,255,0.8);
}
.nav-bar-left { /*Left div-section of the nav-bar, with heart and span-elements*/
    margin: 0;
    display: inline-block;
}
.heart {
    margin: 0 20px;
    font-size: 0.9rem;
}
.nav-bar-right { /*the whole ul-element to the top-right*/
    float: right;
    display: inline-block;
    padding: 0;
    margin: 0 20px 0 0;
}
.nav-bar-right li { /*all the five li-elements to the top-right*/
    display: inline-block;
    margin: 0 10px;
}









/*-----------HEADER SECTION-----------*/
.header-section { /*This affects the whole section*/
    background-color: #1D4E69;
    background-image: url("C:/Users/self-/Documents/code/prework/HTML & CSS exercise/html-css-module-master/images/city-scape.svg");
    display: block;
    width: 100%;
    height: 320px;
    padding-bottom: 120px;
}
.upper-header-div { /*The npm-logo, search bar, and bear-logo*/
    height: 60px;
    max-width: 100%;
    padding: 10px 10px;
    color: white;

}
.npm-logo {
    display: inline-block;
    width: 125px;
    height: 50px;
    margin: 10px;
    float: left;
}
#search-bar-btn-div {
}

#search-bar-btn-div #text {
    background-color: rgb(31, 82, 111);
    width: 80%;
    padding: 12px 20px;
    margin: 8px 10px;
    display: inline-block;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 0px;
    box-sizing: border-box;
    font-size: 1em;  
    position: relative;
}

.sign-up-div {
    height: 45px;
    display: inline-block;
    float: right;
    position: absolute;
    margin: 0 10px;
}
.sign-up-div li {
    display: inline-block;

}
.sign-up-div img {
    width: 45px;
    height: 45px;
    display: inline-block;
}
.sign-up-div a {
    color: white;
    margin: 0 auto;
    display: inline-block;
}

















/*FOR THE BUTTONS?????
.btn-primary {
    color: #fff;
    background-color: #34495e;
    outline: none;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    text-decoration: none;

}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 20px;
    font-size: 16px;
    line-height: 1.35;
    border-radius: 20px;
    user-select: none;
    text-decoration: none;
}
*/