
/*for list on top*/
.nav-bar {
    font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
    background-color: #cb3837; /*wombat-red*/
    /*--wombat-red-hover: #c40b0a; */
    display: -webkit-box;
}
.nav-left-logo .heart{

}


/*FOR THE BUTTONS?????*/
.btn-primary {
    color: #fff;
    background-color: #34495e;
    outline: none;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    text-decoration: none;

}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 20px;
    font-size: 16px;
    line-height: 1.35;
    border-radius: 20px;
    user-select: none;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {font-family: robot;} /*FIND THIS*/
h1 {color: whitesmoke;font-size: 9em;text-align: center;text-transform: uppercase}
h2 {color: #008080;font-size: 5em;text-align: center;text-transform: uppercase;line-height: 4em;}
h3 {font-size: 4.2em;text-align: center;}
h4 {height:8rem; font-size: 1.5em;letter-spacing: 0.4px;margin: 15px;}
h5 {font-size: 1.2em;}


.nav-right-ul{
    background-color: red; /*find out proper color later*/
    list-style-type: none;
    padding-left: 0;
    padding-left: 30px;
    margin: 0; /*This is what the source code suggests at least*/

}
/*li*/
.nav-li {
    display:inline-block;
    margin-right: 1rem; /*16px*/
}














/*-------------------------------------------------------------------------------------*/
/*NAVIGATION BLOCK*/
/*white-on-dark style*/
.nav-bar {
    background-color: rgb(25, 33, 41);
    color: white;
    height: 40px;
}
.nav-bar-item ul li a {
    color: white;
    text-decoration: none;
    font-size: 2em;
    font-weight: auto;
}
.nav-bar-ul {
    width: 1200px;
    margin: auto;
}
.nav-bar .nav-bar-ul .nav-bar-li {
    list-style-type: none;
    text-align: center;
    float: left;
    width: 33%;
}